.mainViewA{
  width: 100%;
  height: 90vh;
}
.viewAGuardData{
  display: flex;
justify-content: space-evenly;
}
.adminTable-viewa-div1{
  width: 100%;
}
.viewA-table{
  width:100%;
  border-collapse:separate;
  table-layout: auto;
}
.viewA-table,.viewA-table td,.viewA-table th{
text-align:center;
border: .1rem solid black;
border-color: #9bcc8b;
}
.viewA-table th{
color: #9bcc8b;
}
.viewA-table td, .viewA-table th{
vertical-align: top;
padding: 1rem;
font-size: 1rem;
}
.viewAContainer{
  background: #e6f4e1;
  height: 100vh;
  width: 100%;
  display: grid;
grid-template-columns: 1fr 1fr ;

}
.viewA-history-table{
  width:100%;
  border-collapse:separate;
  table-layout: auto;
}
.viewA-history-table,.viewA-history-table td,.viewA-history-table th{
text-align:center;
border: .1rem solid black;
border-color: #9bcc8b;
}
.viewA-history-table th{
color: #9bcc8b;
}
.viewA-history-table td, .viewA-history-table th{
vertical-align: top;
padding: 1rem;
font-size: 1rem;
}



.viewA-current-table{
  width:100%;
  border-collapse:separate;
  table-layout: auto;
}
.viewA-current-table,.viewA-current-table td,.viewA-current-table th{
text-align:center;
border: .1rem solid black;
border-color: #9bcc8b;
}
.viewA-current-table th{
color: #9bcc8b;
}
.viewA-current-table td, .viewA-current-table th{
vertical-align: top;
padding: 1rem;
font-size: 1rem;
}
/* ///////////// */
.viewAContainer-div1{
  text-Align: center;
   max-Height: 100vh;
}
.viewAContainer-div2{
  display: flex;
  flex-direction: column;
  align-items: center;

   /* background-color: brown; */
}
.viewAContainer-sub1-div2{
  width: 89%;
   max-height: 30%;
    margin: auto;
     margin-top: .3rem;
}
/* //////////////// */
.viewA-google-map {
  width: 89%;
  height: 50vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 18rem;
  height: 18rem;
  color: green;
  background-color: rgb(233, 233, 233,50%);
  border-radius: 2rem;
}

.pin-icon {
  font-size: 6rem;
}

.pin-text {
  font-size: 1.3em;
}

@media (max-width:780px) {
  .viewAContainer{
    background-color: #e6f4e1;
    height: auto;
    width: 100%;
    display: flex;
flex-direction: column;  
padding-bottom: 5rem;
}
}
@media (max-width:690px) {
  .adminTable-viewa-div1{
    overflow: auto;
  }
}
@media (max-width:485px) {
  .viewAContainer-div1{
 margin-bottom: 9rem;
}
}
@media (max-width:470px) {
  .viewAContainer-div1{
 margin-bottom: 20rem;
}
}
@media (max-width:400px) {
  .viewAContainer-sub1-div2{
    overflow: auto;
  }
}
