.main{
    width: 100vw auto;
    height: auto;
    /* background-color: aquamarine; */
}
/* 
.sub1-main{
    width: 100%;
    height: 100%;
    padding-right: 6rem;
    padding-left: 6rem;
border: .1rem solid black;
} */

