*{
  padding: 0%;
  margin: 0%;
}
.main_div {
  width: 100vw;
  height: 100vh;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
   padding-top: 7rem;
   background:#e6f4e1;
  }
  .logInForm {
    width: 40rem;
    padding: 2.5rem 2rem;
  }
  .logInForm img{
    margin-left: 12rem;
  }
  .logIn_img{
    width: 10rem;
    height: 10rem;
  }
  .logInForm h1{
    color: #0077c7;
  }
  .logInForm span{
    margin-left: 3rem;
    cursor: pointer;
  }
  .logInForm span:hover{
    color: #0077c7;
  }
  .signUpForm{
    width: 40rem;
    height: 100%;
    padding: 2.5rem 2rem;
  }
  .signUpForm img{
    margin-left: 12rem;
  }
  .signup_img{
    width: 10rem;
    height: 10rem;
  }
  .signUpForm h1{
    color: #0077c7;
  }
  .signUpForm span{
    margin-left: 3rem;
    cursor: pointer;
  }
  .signUpForm span:hover{
    color: #0077c7;
  }