.img{
    width: 8rem;
    height: 8rem;
    margin-right: 2rem;
    border: .3rem solid white;
    border-radius: 6rem;
}
.btn1{
    width: 8rem;
    height: 4rem;
    border-radius: 3rem;
    border: .1rem solid black;
    margin-right: 1rem;
    font-size: 2rem;
}

