.admin-viewPDFA{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-left:2rem;
  padding-right:2rem;
  /* background-color: aqua; */
 }
.Range{
/* background-color: aqua; */
width: 27.8rem;
display: flex;
border: .1rem solid grey;
justify-content: center;
align-items: center;
}
.Range :nth-child(1){
    font-size: 1rem;
    
    /* background-color: rgb(238, 255, 0); */
}
.admain-PDFA-img{
  width:12rem;
  height:12rem;
  margin-bottom:1rem;
  margin-left:8rem;
  
  }
  .admain-PDFA-h4-1{
    width:60%;
    display:block;
    font-size:3rem;
    position:absolute;
    top:34rem;
    right:6rem;
    font-weight:bold;
    color:#0077c7;
  
  }
  .admain-PDFA-h4-2{
    width:60%;
    display:block;
    font-size:2rem;
    position:absolute;
    top:40rem;
    right:0rem;
    font-weight:bold;
    color:#0077c7;
  
  }
.subadmin-guard-table{
    height: auto;
}
.table_wapper{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.subadmin-guard-table-download{
    width:90%;
  
    border-collapse:separate;
    table-layout: auto;
  }
  .subadmin-guard-table-download,.subadmin-guard-table-download td,.subadmin-guard-table-download th{
  text-align:center;
  border: .1rem solid black;
  border-color: #9bcc8b;
}
.subadmin-guard-table-download th{
  color: #9bcc8b;
}
.subadmin-guard-table-download td, .subadmin-guard-table-download th{
  vertical-align: top;
  padding: 1rem;
  font-size: 1rem;
}
@media (max-width:660px) {
  .admin-viewPDFA{
    height: 40rem;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    
    /* background-color: aquamarine; */
    }
    .admain-PDFA-img{
      width:12rem;
      height:12rem;
      margin-bottom:1rem;
      margin-left:6rem;
      
      }
      .admain-PDFA-h4-1{
        width:60%;
        display:block;
        font-size:3rem;
        position:absolute;
        top:43rem;
        right:6rem;
        font-weight:bold;
        color:#0077c7;
      
      }
      .admain-PDFA-h4-2{
        width:60%;
        display:block;
        font-size:2rem;
        position:absolute;
        top:48rem;
        right:0rem;
        font-weight:bold;
        color:#0077c7;
      
      }
}
@media (max-width:580px) {
 
    .admain-PDFA-img{
      width:10rem;
      height:10rem;
      margin-bottom:1rem;
      margin-left:4rem;
      
      }
      .admain-PDFA-h4-1{
        width:60%;
        display:block;
        font-size:3rem;
        position:absolute;
        top:43rem;
        right:6rem;
        font-weight:bold;
        color:#0077c7;
      
      }
      .admain-PDFA-h4-2{
        width:60%;
        display:block;
        font-size:2rem;
        position:absolute;
        top:48rem;
        right:0rem;
        font-weight:bold;
        color:#0077c7;
      
      }
}
@media (max-width:500px) {
  .admain-viewPDFA{
    height: 40rem;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    /* background-color: aquamarine; */
    margin-bottom: 2rem;
    }
  .admain-PDFA-img{
    width:10rem;
    height:10rem;
    margin-bottom:1rem;
    margin-left:4rem;
    
    }
    .admain-PDFA-h4-1{
      width:60%;
      display:block;
      font-size:2.6rem;
      position:absolute;
      top:43rem;
      right:3.5rem;
      font-weight:bold;
      color:#0077c7;
    
    }
    .admain-PDFA-h4-2{
      width:60%;
      display:block;
      font-size:2rem;
      position:absolute;
      top:48rem;
      right:0rem;
      font-weight:bold;
      color:#0077c7;
    
    }
    .table_wapper{
      overflow: auto;
      padding-left: 7rem;
   
   }
}
@media (max-width:455px) {
  .admain-PDFA-img{
    width:10rem;
    height:10rem;
    margin-bottom:1rem;
    margin-left:2rem;
    
    }
    .admain-PDFA-h4-1{
      width:65%;
      display:block;
      font-size:2.6rem;
      position:absolute;
      top:43rem;
      right:2.5rem;
      font-weight:bold;
      color:#0077c7;
      /* background-color: aqua; */
    
    }
    .admain-PDFA-h4-2{
      width:60%;
      display:block;
      font-size:2rem;
      position:absolute;
      top:48rem;
      right:0rem;
      font-weight:bold;
      color:#0077c7;
    
    }
 

}
@media (max-width:430px) {
  .table_wapper{
    padding-left: 10rem;

}
}
@media (max-width:400px) {
  .admain-PDFA-img{
    width:8rem;
    height:8rem;
    margin-bottom:1rem;
    margin-left:1rem;
    
    }
    .admain-PDFA-h4-1{
      width:65%;
      display:block;
      font-size:2rem;
      position:absolute;
      top:43rem;
      right:2rem;
      font-weight:bold;
      color:#0077c7;
      /* background-color: aqua; */
    
    }
    .admain-PDFA-h4-2{
      width:60%;
      display:block;
      font-size:1.6rem;
      position:absolute;
      top:46rem;
      right:0rem;
      font-weight:bold;
      color:#0077c7;
    
    }
    .table_wapper{
      padding-left: 13rem;
  
  }
}
@media (max-width:370px) {
  .table_wapper{
    padding-left: 16rem;

}

}
@media (max-width:340px) {
  .table_wapper{
    padding-left: 19rem;

}
}
@media (max-width:310px) {
  .admain-PDFA-img{
    width:6rem;
    height:6rem;
    margin-bottom:1rem;
    margin-left:1rem;
    margin-top: 1rem;
    
    }
    .admain-PDFA-h4-1{
      width:68%;
      display:block;
      font-size:1.8rem;
      position:absolute;
      top:41rem;
      right:1rem;
      font-weight:bold;
      color:#0077c7;
      /* background-color: aqua; */
    
    }
    .admain-PDFA-h4-2{
      width:60%;
      display:block;
      font-size:1.6rem;
      position:absolute;
      top:44rem;
      right:0rem;
      font-weight:bold;
      color:#0077c7;
    
    }
    .table_wapper{
      padding-left: 22rem;
  
  }
}
@media (max-width:285px) {
  .table_wapper{
    padding-left: 25rem;

}
}