.Admincard-main{
    font-size: 62.5%;
    display: flex;
    flex-direction: row;
    border: .01rem solid black;
    width: 20rem;
    height: 12rem;
    border-radius: .5rem;
    margin-bottom: 3rem;
    cursor: pointer;
    flex-wrap: wrap;
}
.admincard-div-img{
display: flex;
flex-direction: column;

}
.admincard-card-img{
    width: 6rem;
    height: 8rem;
    border-radius: .5rem;
}
.admincard-div-img button{
font-size: 1rem;
margin-top:1rem ;
margin-left: 1.2rem;
}
.Admincard-main button{
    width:3rem;
    height: 1.4rem;
    border: 0rem;
    border-radius: .2rem;
}
.admincard-div-text{
    /* background: chartreuse; */
    display: flex;
    flex-direction: column;
flex-wrap: wrap;
}
.admincard-div-text :nth-child(1){
margin-top: 3rem;
margin-left: .7rem;
}
.Admincard-main p{
    /* background: mediumspringgreen; */
    font-size: 1rem;
    margin-left:.7rem; 
    margin-top: 1.5rem;
    margin-bottom: -1rem;  
}
