* {
  padding: 0;
  margin: 0;
}
.admin-guard-list-main {
  width: 100%;
  height: 100vh;
  /* background:hsl(104, 85%, 46%); */
}
.admin-guard-list-body {
  width: 100%;
  min-height: 100%;
 display: grid;
 grid-template-rows: 1fr;
 grid-template-columns: 1fr ;
 /* font-size: 62.5%; */
 background:#e6f4e1;
 margin: auto;
}
.admin-guard-list-search{
  width: auto;
  height: 10vh;
  /* background: hotpink; */
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.admin-guard-list-input{
  width: 40rem ;
  font-size: 1rem;
  padding-left: 1rem;
  height: 2rem;
  border: .1rem solid black;
  border-radius: .7rem;
  /* background: rgb(150, 96, 244); */
}
/* .guard-list-search button{
  border: 0rem;
  width: 5rem;
  height: 2rem;
  margin-right:1rem;
  font-size: .8rem;
  border-radius: .7rem;
  background: #0077c7;
color: white;
} */
.admin-add-btn button{
  border: 0rem;
  width: 5rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: .3rem;
  background: #0077c7;
color: white;
}
.admin-table-div{
  width: 100VW;
}
.admin-guard-table{
  width:100%;
  border-collapse:separate;
  table-layout: auto;
}
.admin-guard-table,.admin-guard-table td,.admin-guard-table th{
text-align:center;
border: .1rem solid black;
border-color: #9bcc8b;
}
.admin-guard-table th{
color: #9bcc8b;
}
.admin-guard-table td, .admin-guard-table th{
vertical-align: top;
padding: 1rem;
font-size: 1rem;
}
.admin-guard-body-dialogbox{
  /* background  : rgb(227, 236, 227); */
  width: 35rem;
  height: 43rem;
  margin: auto;
  margin-top: 6rem;
 padding-left: 1rem;
 padding-top: 2rem;
 border-radius: 2rem;
 background-color: #9bcc8b;
}
.admin-guard-body-dialogbox div{
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  align-items: center;
}
.admin-guard-body-dialogbox div p{
  font-size: 1.2rem;
  font-weight: 600;
  /* text-align: center; */
}
.admin-guard-body-dialogbox input{
  width: 23rem;
  height: 3rem;
  margin-bottom: .6rem;
  font-size: 1rem;
  border: .1rem solid grey;
  background:#e6f4e1;
border-radius: .5rem;
padding-left: 1rem;
outline: none;
text-transform: capitalize;
}

.admin-guard-body-dialogbox :nth-child(11){
  width: 5rem;
  height: 2rem;
  border: 0rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  background: #0077c7;
  color :white;
  padding-top: .2rem;
}

.admin-guard-body-dialogbox :nth-child(12){
  width: 5rem;
  height: 2rem;
  border: 0rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  background: #0077c7;
  color :white;
  padding-top: .2rem;

}
@media(max-width:900PX){
  .admin-table-div{
    overflow: auto;
    /* background-color: hotpink; */
  }

}

@media (max-width:510px) {
  .admin-guard-list-search{
    width: auto;
    height: 10vh;
    /* background: hotpink; */
    display: flex;
    align-items: center;
    padding-left: 0rem;
  }
  .admin-guard-list-input{
    width: 35rem ;
    font-size: 1rem;
    padding-left: 1rem;
    height: 2rem;
    border: .1rem solid black;
    border-radius: .7rem;
    /* background: rgb(150, 96, 244); */
  }
}

@media (max-width:410px) {
  .admin-guard-list-input{
    width: 30rem ;
    font-size: 1rem;
    padding-left: 1rem;
    height: 2rem;
    border: .1rem solid black;
    border-radius: .7rem;
    /* background: rgb(150, 96, 244); */
  }
}

@media (max-width:360px) {
  .admin-guard-list-input{
    width: 25rem ;
    font-size: 1rem;
    padding-left: 1rem;
    height: 2rem;
    border: .1rem solid black;
    border-radius: .7rem;
    /* background: rgb(150, 96, 244); */
  }
}
@media (max-width:370px) {
  .admin-guard-body-dialogbox{
    /* background  : rgb(227, 236, 227); */
    width: 30rem;
    height: 46rem;
    margin: auto;
    margin-top: 6rem;
   padding-left: 1rem;
   padding-top: 2rem;
   border-radius: 2rem;
   background-color: #9bcc8b;
  }
  .admin-guard-body-dialogbox input{
    width: 20rem;
    height: 3rem;
    margin-bottom: .6rem;
    font-size: 1rem;
    border: .1rem solid grey;
    background:#e6f4e1;
  border-radius: .5rem;
  padding-left: 1rem;
  outline: none;
  text-transform: capitalize;
  }
}
@media (max-width:320px) {
  .admin-guard-list-input{
    width: 20rem ;
    font-size: 1rem;
    padding-left: 1rem;
    height: 2rem;
    border: .1rem solid black;
    border-radius: .7rem;
    /* background: rgb(150, 96, 244); */
  }
}
@media (max-width:310px) {
  @media (max-width:370px) {
    .admin-guard-body-dialogbox{
      /* background  : rgb(227, 236, 227); */
      width: 25rem;
      height: 55rem;
      margin: auto;
      margin-top: 1rem;
     padding-left: 2.5rem;
     padding-top: 2rem;
     border-radius: 2rem;
     background-color: #9bcc8b;
     line-height: 1rem;
    }
    .admin-guard-body-dialogbox div{
      display: flex;
      flex-direction: column;
      align-items: start;
      /* justify-content: space-between; */
      padding-right: 1rem;
    }
    .admin-guard-body-dialogbox div p{
      font-size: 1.2rem;
      font-weight: 600;
      /* text-align: center; */
    }
    .admin-guard-body-dialogbox input{
      width: 20rem;
      height: 2.5rem;
      margin-bottom: .6rem;
      font-size: 1rem;
      border: .1rem solid grey;
      background:#e6f4e1;
    border-radius: .5rem;
    padding-left: 1rem;
    outline: none;
    text-transform: capitalize;
    }
    
    .admin-guard-body-dialogbox :nth-child(11){
      width: 5rem;
      height: 2rem;
      border: 0rem;
      border-radius: 0.2rem;
      font-size: 1rem;
      margin-top: 2rem;
      margin-left: 1rem;
      background: #0077c7;
      color :white;
      padding-top: .2rem;
    }
    
    .admin-guard-body-dialogbox :nth-child(12){
      width: 5rem;
      height: 2rem;
      border: 0rem;
      border-radius: 0.2rem;
      font-size: 1rem;
      margin-top: 2rem;
      margin-left: 1rem;
      background: #0077c7;
      color :white;
      padding-top: .2rem;
    
    }
  }
}

