* {
    padding: 0;
    margin: 0;
  }
  .Totalguardlist-list-main {
    background:#e6f4e1;
  }
  .Totalguardlist-list-body {
    width: 100%;
    min-height: 100vh;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr ;
   font-size: 62.5%;
   background:#e6f4e1;
   margin: auto;
    /* width: 90vw;
    height:  100vh;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr ;
   font-size: 62.5%;
   background:#e6f4e1;
   margin: auto;
 padding-left:10rem; */
  }
  .Totalguardlist-list-search{
    width: auto;
    height: 10vh;
    /* background: hotpink; */
    display: flex;
    align-items: center;
    padding-left: 2rem;
    /* width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 2rem; */
  }
  .Totalguardlist-list-input{
    width: 40rem ;
    font-size: 1rem;
    padding-left: 1rem;
    height: 2rem;
    border: .1rem solid black;
    border-radius: .7rem;
    /* background: rgb(150, 96, 244); */
    /* width: 40rem ;
    height: 2rem;
    border: .1rem solid black;
    border-radius: .7rem; */
    /* background: rgb(150, 96, 244); */
  }
  .Totalguardlist-list-search button{
    border: 0rem;
    width: 5rem;
    height: 2rem;
    margin-right:1rem;
    font-size: .8rem;
    border-radius: .7rem;
    background: #0077c7;
  color: white;
    /* border: 0rem;
    width: 5rem;
    height: 2rem;
    margin-right:1rem;
    font-size: .8rem;
    border-radius: .7rem;
    background: #0077c7;
  color: white; */
  }
  .adminTable1{
width: 100vw; 
 }
  .Totalguardlist-table{
    width:100%;
    border-collapse:separate;
    table-layout: auto;
    /* margin-top: 2rem; */
   
  }
  .Totalguardlist-table,.Totalguardlist-table td,.Totalguardlist-table th{
    text-align:center;
    border: .1rem solid black;
    border-color: #9bcc8b;
  }
  .Totalguardlist-table th{
    color: #9bcc8b;
  }
  .Totalguardlist-table td, .Totalguardlist-table th{
    vertical-align: top;
    padding: 1rem;
    font-size: 1rem;
  }

  /* .Totalguardlist-table thead tr th{
    font-size: 1.2rem;
    color: #9bcc8b;
  }
  .Totalguardlist-table thead tr :nth-child(7){
    padding-right: 2rem;
  } */

@media (max-width:665px) {
  .adminTable1{
    /* background-color: rgb(73, 192, 22); */
overflow: auto;
  }
}
@media (max-width:500px) {
  .Totalguardlist-list-search{
    padding-left: 0rem;
    
  }
  .Totalguardlist-list-input{
    width: 35rem ;
   
    
  }
}
@media (max-width:360px) {

  .Totalguardlist-list-input{
    width: 30rem ;
   
    
  }
}
@media (max-width:310px) {

  .Totalguardlist-list-input{
    width: 25rem ; 
  }
}