.admin-guard-update-dialogbox{
    /* background-color: rgb(10, 140, 10); */
    width: 35rem;
    height: 43rem;
    margin: auto;
   padding-left: 1rem;
   padding-top: 2rem;
   border-radius: 2rem;
   background-color: #9bcc8b;
  }
  .admin-guard-update-dialogbox div{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    align-items: center;
  }
  .admin-guard-update-dialogbox div p{
    font-size: 1.2rem;
    font-weight: 600;
    /* text-align: center; */
  }
  .admin-guard-update-dialogbox input{
    width: 23rem;
    height: 3rem;
    margin-bottom: .6rem;
    font-size: 1rem;
    border: .1rem solid grey;
    background:#e6f4e1;
    border-radius: .5rem;
  padding-left: 1rem;
  outline: none;
  text-transform: capitalize;
  }
  
  .admin-guard-update-dialogbox :nth-child(11){
    width: 5rem;
    height: 2rem;
    border: 0rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    background: #0077c7;
    color :white;
    padding-top: .2rem;
  }

  .admin-guard-update-dialogbox :nth-child(12){
    width: 5rem;
    height: 2rem;
    border: 0rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    background: #0077c7;
    color :white;
    padding-top: .2rem;

  }
  @media (max-width:370px) {
    .admin-guard-update-dialogbox{
      /* background: rgb(227, 236, 227); */
      width: 30rem;
      height: 45rem;
      margin: auto;
     padding-left: 1rem;
     padding-top: 2rem;
     border-radius: 2rem;
     background-color: #9bcc8b;
    }
    .admin-guard-update-dialogbox input{
      width: 20rem;
      height: 3rem;
      margin-bottom: .6rem;
      font-size: 1rem;
      border: .1rem solid grey;
      background:#e6f4e1;
      border-radius: .5rem;
    padding-left: 1rem;
    outline: none;
    text-transform: capitalize;
    }
  }
  @media (max-width:330px) {
    .admin-guard-update-dialogbox{
      /* background: rgb(227, 236, 227); */
      width: 22rem;
      height: 55rem;
      margin: auto;
     padding-left: 2.3rem;
     padding-top: 1rem;
     border-radius: 2rem;
     background-color: #9bcc8b;
     line-height: 1rem;
    }
    .admin-guard-update-dialogbox div{
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      padding-right: 1rem;
      align-items: start;
    }
    .admin-guard-update-dialogbox div p{
      font-size: 1.2rem;
      font-weight: 600;
      /* text-align: center; */
    }
    .admin-guard-update-dialogbox input{
      width: 17rem;
      height: 2.5rem;
      margin-bottom: .6rem;
      font-size: 1rem;
      border: .1rem solid grey;
      background:#e6f4e1;
      border-radius: .5rem;
    padding-left: 1rem;
    outline: none;
    text-transform: capitalize;
    }
    
    .admin-guard-update-dialogbox :nth-child(11){
      width: 5rem;
      height: 2rem;
      border: 0rem;
      border-radius: 0.2rem;
      font-size: 1rem;
      margin-top: 2rem;
      margin-left: 1rem;
      background: #0077c7;
      color :white;
      padding-top: .2rem;
    }
  
    .admin-guard-update-dialogbox :nth-child(12){
      width: 5rem;
      height: 2rem;
      border: 0rem;
      border-radius: 0.2rem;
      font-size: 1rem;
      margin-top: 2rem;
      margin-left: 1rem;
      background: #0077c7;
      color :white;
      padding-top: .2rem;
  
    }
  }
 

  